{% extends 'appearance/base.html' %}
{% block title %}
    {{ new.name }}
{% endblock %}

{% block body %}


<style>

    .article-title {
        text-align: center; /* Выравнивание текста по центру */
    }

    .article-content {
        font-size: 21px; /* Размер шрифта 14 пунктов */
        margin: 0 10%; /* Отступы от краёв экрана */
        text-indent: 20px; /* Отступ первой строки абзаца */
        line-height: 1.6; /* Межстрочный интервал */
        background-color: #D9D9D9;
    }

    /* Стили для абзацев внутри статьи */
    .article-content p {
        margin-bottom: 1em; /* Отступ после абзаца */
    }
</style>
    <p class="article-content">
        Если Вы просматриваете эту страничку, то это здорово, потому что это означает, что Вы уже студент СамГУПС, все еще студент СамГУПС, собираетесь стать студентом СамГУПС или уже не являетесь и никогда не были студентом, но Вам небезразлично все что происходит в студенческой среде Самарского государственного университета путей сообщения.</p>

    <p class="article-content"> Профсоюз студентов СамГУПС - это общественная организация, созданная на добровольных началах студентами университета с целью улучшения условий обучения и проживания, защиты индивидуальных и коллективных прав и интересов, организации оздоровления и досуга объединяющая в своих рядах более 95% учащихся университета.</p>

    <p class="article-content"> Для осуществления деятельности профсоюзной организации её члены избирают председателя профсоюзной организации и заместителя председателя, а также коллегиальный совещательный орган управления — профсоюзный комитет (профком).</p>

    <p class="article-content">  Первичная профсоюзная организация студентов СамГУПС (полное наименование: Общественная организация – студенческая первичная профсоюзная организация общественной организации Российского профессионального союза железнодорожников и транспортных строителей в Самарском государственном университете путей сообщения (официальное сокращенное наименование: Студенческая ППО РОСПРОФЖЕЛ в СамГУПС)) является структурным подразделением Российского профессионального союза железнодорожников и транспортных строителей, имеет свой бюджет, свои выборные единоличные и коллегиальные органы управления, в своей работе руководствуется конституцией Российской Федерации, Федеральным и региональным законодательством, решениями и постановлениями вышестоящих профсоюзых органов, решениями конференции студентов СамГУПС-членов профсоюза.</p>

    <p class="article-content"> Задача профкома студентов – защита социально-экономических , а также учебно-производственных прав студентов – членов Российского профессионального союза железнодорожников и транспортных строителей (РОСПРОФЖЕЛ) на основе действующего законодательства и иных нормативных актов.</p>



<p class="article-content"> Чтобы стать членом Профсоюза, нужно: </p>

<ol class="article-content">
  <li>Избрать профорга в своей группе, который будет представлять интересы группы в профкоме студентов.</li>
  <li>В начале сентября каждого года проводится собрание профоргов первого курса. На собрании профоргам выдают следующие документы:
    <ul>
      <li>бланк протокола "для выбора профорга";</li>
      <li>бланки заявлений на вступление в профсоюз.</li>
    </ul>
  </li>
  <li>Заполненные студентами бланки + две фотографии 3*4, скреплённые скрепкой (комплект для каждого студента отдельно), принести в профком.</li>
  <li>Получить и заполнить согласно образцу, профсоюзные билеты и учетные карточки.</li>
  <li>Сдать комплект заполненных документов в профком.</li>
  <li>Все бланки, требующиеся для вступления в профсоюзную организацию можно получить в профкоме.</li>
</ol>


<p class="article-content"><strong>Основные направления работы профкома студентов СамГУПС</strong></p>

<ul class="article-content">
  <li>Социальная защита студентов СамГУПС – членов Профсоюза</li>
  <li>Представительство и защита законных прав и интересов студентов-членов профсоюза</li>
  <li>Трудоустройство студентов</li>
  <li>Организация деятельности студенческих трудовых отрядов</li>
  <li>Обучение профсоюзного актива</li>
  <li>Оздоровление студентов</li>
  <li>Поддержка спортивного движения в СамГУПС</li>
  <li>Информационная работа</li>
  <li>Культурно-досуговая деятельность</li>
  <li>Студенческое самоуправление (студенческие советы общежитий)</li>
</ul>
     <p class="article-content">На протяжении долгих лет своего существования Профком студентов накопил большой опыт по работе со студентами. При его участии были созданы многие новые документы, а также внесены поправки в существующие с целью защиты прав и интересов студентов СамГУПС. Профком в своей работе всегда придавал огромное значение воспитанию студентов. С этой целью Профкомом было организовано и проведено большое количество культурно-массовых и спортивно-оздоровительных мероприятий. Профком представлял интересы СамГУПС, а также профсоюза во многих мероприятиях, в том числе шествиях и парадах, за что был неоднократно удостоен призовых мест и награжден грамотами и ценными призами.</p>

    <p class="article-content">Сегодня Профком студентов – это мощный и целеустремленный актив студентов - членов профкома, действующих во имя воспитания сознательной молодежи, воспитания настоящих патриотов. Члены Профкома - это объединение творческих и талантливых людей, каждый из которых может проявить себя как лидер, и в то же время успешно работать в команде на пользу общего дела.</p>

<p class="article-content"><strong>Отказавшись от членства в профсоюзе, ты остаешься один на один со своими проблемами, без всякой социальной защиты!
    </strong></p>
{% endblock %}