{% extends 'myauth/base.html' %}

{% block title %}
  Примеры заявлений
{% endblock %}


{% block body %}
    {% if user.groups.exists and user.groups.first.name == 'Not union group' %}
        <div>
            <img src="profunion/uploads/photo/free-icon-google-docs-2991106.png" alt="">
            <a href="\uploads\appends_all\obrazec_zayavleniya_na_vstuplenie_v_profsouz.docx" download="Заявление на вступление в профсоюз">Заявление на вступление в профсоюз </a>
        </div>
    {% endif %}
    {% if user.groups.exists and user.groups.first.name == 'Union Members' %}
        <div>
            <img src="C:\Users\maksi\PycharmProjects\SamGUPSProfunion\profunion\uploads\photo\free-icon-google-docs-2991106.png" alt=" ">
            <a href="\uploads\appends_all\Zayavlenie-na-vykhod-iz-profsoyuza (2).doc" download="Заявление о предоставлении стипендий для активных членов профсоюза">Заявление о предоставлении стипендий для активных членов профсоюза </a>
        </div>
        <div>
            <img src="C:\Users\maksi\Downloads\free-icon-google-docs-2991106.png" alt="">
            <a href="\uploads\appends_all\Zayavlenie-na-vykhod-iz-profsoyuza (2).doc" download="Заявление о финансовой поддержке студентов в период сессии или научных конференций.">Заявление о финансовой поддержке студентов в период сессии или научных конференций </a>
        </div>
        <div>
            <a href="\uploads\appends_all\Zayavlenie-na-vykhod-iz-profsoyuza (2).doc" download="Заявление о создании условий для общежития для студентов из других городов">Заявление о создании условий для общежития для студентов из других городов </a>
        </div>
        <div>
            <a href="\uploads\appends_all\Zayavlenie-na-vykhod-iz-profsoyuza (2).doc" download="Заявление о компенсации расходов на проезд к месту учёбы для не-резидентов">Заявление о компенсации расходов на проезд к месту учёбы для не-резидентов </a>
        </div>
        <div>
            <a href="\uploads\appends_all\Zayavlenie-na-vykhod-iz-profsoyuza (2).doc" download="Заявление о проведении культурных и спортивных мероприятий для студентов">Заявление о проведении культурных и спортивных мероприятий для студентов </a>
        </div>
        <div>
            <a href="\uploads\appends_all\Zayavlenie-na-vykhod-iz-profsoyuza (2).doc" download="Заявление о предоставлении льгот на питание в столовой университета">Заявление о предоставлении льгот на питание в столовой университета </a>
        </div>
        <div>
            <a href="\uploads\appends_all\Zayavlenie-na-vykhod-iz-profsoyuza (2).doc" download="Заявление на выход из профсоюза">Заявление на выход из профсоюза </a>
        </div>
    {% endif %}
{% endblock %}