{% extends 'myauth/login_base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}

<style>

    .login-button {
        display: inline-block; /* Делаем ссылку блочно-строчным элементом */
        padding: 10px; /* Внутренние отступы */
        border: none; /* Убрать границу */
        border-radius: 4px; /* Скругление углов */
        background-color: #28a745; /* Зелёный цвет фона */
        color: #ffffff; /* Белый цвет текста */
        text-align: center; /* Выравнивание текста по центру */
        text-decoration: none; /* Убрать подчёркивание текста */
        cursor: pointer; /* Курсор в виде руки при наведении */
        font-size: 16px; /* Размер шрифта */
    }

    /* Стили для изменения вида при наведении */
    .login-button:hover {
        background-color: #218838; /* Темно-зелёный цвет фона при наведении */
    }

    .registration-form {
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto; /* Выравнивание формы по центру */
    padding: 20px; /* Внутренние отступы */
    background-color: #f7f7f7; /* Цвет фона */
    border-radius: 8px; /* Скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень формы */
}

/* Стили для заголовка формы */
.registration-title {
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px; /* Отступ после заголовка */
}

/* Стили для кнопки отправки */
.submit-button {
    width: 100%; /* Ширина кнопки на всю ширину формы */
    padding: 10px; /* Внутренние отступы */
    border: none; /* Убрать границу */
    border-radius: 4px; /* Скругление углов */
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    cursor: pointer; /* Курсор в виде руки при наведении */
    font-size: 16px; /* Размер шрифта */
}

/* Стили для элементов формы */
.form-element {
    margin-bottom: 15px; /* Отступ между элементами формы */
}
</style>
<div>
    <h1 class="registration-title">Регистрация пользователя</h1>
    <form method="post" class="registration-form">
        {% csrf_token %}
        <div class="form-element">
            {{ form.as_p }}
        </div>
        <input type="submit" value="Отправить" class="submit-button">
    </form>
    </div>
{% endblock %}